extends ../jade/template
block vars
	-var title = "西友 – オレンジのフルーツ酢 レシピページ | SEIYU"
	-var description = "お酢とフルーツでお手軽に作れる、彩り豊かでさわやかなサワードリンクレシピをご紹介します。"
	-var og_url = "http://www.seiyu.co.jp/campaign/recipe/sourdrink/"
	-var og_description = "お酢とフルーツでお手軽に作れる、彩り豊かでさわやかなサワードリンクレシピをご紹介します。"
	-var dir_root = "../"
	-var current = "recipe"
block ga_click
	-var facebook = "ga('send', 'event', 'Campaign', 'SNSbtnFb', 'sourorange')"
	-var twitter = "ga('send', 'event', 'Campaign', 'SNSbtnTw', 'sourorange')"
	-var line = "ga('send', 'event', 'Campaign', 'SNSbtnLine', 'sourorange')"
	-var btn_prev = "ga('send', 'event', 'Campaign', 'backtoTop', 'sourorange')"
	-var twitter_url = "%E3%82%B5%E3%83%AF%E3%83%BC%E3%83%89%E3%83%AA%E3%83%B3%E3%82%AF%E3%83%AC%E3%82%B7%E3%83%94%E3%80%80%23SEIYU"
block content
	#contents-body.recipe4
		.recipe-area
			i.label サワードリンク with オレンジ
			h1
				span オレンジのフルーツ酢
			figure
				img(src='../img/recipe_4_img.jpg', alt='オレンジのフルーツ酢')
			.recipe-inner
				.info 調理時間：10分、エネルギー：109kcal、塩分：0.0g
				.materials
					h2.shingo_m 材料（8人分）
					dl
						dt オレンジ
						dd （皮を除いて）100g
					dl
						dt 氷砂糖
						dd 200g
					dl
						dt ミツカン　純リンゴ酢
						dd 200ml
					dl
						dt.thin または
						dd
					dl
						dt ミツカン　穀物酢
						dd 200ml
				// /materials
				.howto
					h2.shingo_m 作り方
					dl
						dt 1
						dd オレンジは洗って水けをふき、皮をむいて輪切りにする。
					dl
						dt 2
						dd 密封できる広口ビンにオレンジ、氷砂糖、リンゴ酢または穀物酢を入れ、ふたをして涼しいところに置く。
					dl
						dt 3
						dd 1日1回、ふたをしたまま軽くふり混ぜ、1週間で出来上がり。漬け終わった果実は取り除く。（お好みでお召し上がりください）
					dl
						dt 4
						dd 冷水または炭酸水で約５倍に薄めていただく。
				// /howto
		// /recipe-area
		.caution
			p
				| ※金属製のふたの使用は避けてください。
				br
				| ※出来上がったサワードリンクは冷蔵庫に保管し、一年以内をめどに早めにお召し上がりください。
				br
				| ※出来上がり量は約５倍に薄めて、約８杯分です。
				br
				| ※エネルギー、食塩相当量は1人分です。
		.btn-prev
			a(href='../', onclick="#{btn_prev};") トップに戻る
		#sns-block
			ul.sns
				li
					a.facebook(href='http://www.facebook.com/share.php?u=http://www.seiyu.co.jp/campaign/recipe/sourdrink/', onclick="#{facebook};", target='_blank')
						span facebook
				li
					a.twitter(href='http://twitter.com/share?url=http://www.seiyu.co.jp/campaign/recipe/sourdrink/&related=Seiyu_Japan&hashtags='+'#{twitter_url}', onclick="#{twitter};", target='_blank')
						span twitter
				li
					a.line(href='http://line.me/R/msg/text/?おうちで作れるさわやかサワードリンクレシピ | SEIYU http://www.seiyu.co.jp/campaign/recipe/sourdrink/', onclick="#{line};", target='_blank')
						span LINE